<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Methodica - Contenido no accesible</title>
		
		
		<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.css">
		
	</head>
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
			<div class="container">
				<a class="navbar-brand mx-auto" href="/">
					<img src="/images/methodica_logo_white.jpg" width="215" height="53" class="d-inline-block align-top" alt="methodica_logo">
				</a>
				<div class="collapse navbar-collapse m">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active px-3"><a href="/inicio" class="nav-link letraBlanca" >INICIO</a></li>
						<li class="nav-item active px-3" sec:authorize="isAuthenticated()"><a href="/misCursos" class="nav-link letraBlanca">MIS CURSOS</a></li>
						<li class="nav-item active px-3"><a href="/" class="nav-link letraBlanca">METHODICA EXAMS</a></li>
						<li class="nav-item active px-3" sec:authorize="!isAuthenticated()"><a href="/login" class="nav-link letraBlanca">INICIAR SESIÓN</a></li>
						<li class="nav-item active px-3" sec:authorize="isAuthenticated()"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link letraBlanca">SALIR</a></li>
					</ul>
				</div>
			</div>
			
			
		</nav>
		<div class="d-flex align-items-center justify-content-center ml-0 mr-0">
			<div class="card text-white bg-danger mb-3" >
				<div class="card-header">Error</div>
				<div class="card-body">
					<h5 class="card-title">Error de acceso a curso</h5>
					<p class="card-text" th:text="${mensaje}">Mensaje</p>
				</div>
			</div>
			
		</div>
		
			<form th:action="@{/logout}" method="POST" id="logoutForm"></form>
	</body>
</html>