<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="utf-8">
		<title>Starter Template for Bootstrap</title>
		
		<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/miCss/inicio.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-primary">
			<div class="container">
				<a class="navbar-brand mx-auto" href="/">
					<img src="/images/methodica_logo_white.jpg" width="215" height="53" class="d-inline-block align-top" alt="methodica_logo">
				</a>
				<div class="collapse navbar-collapse m">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active px-3"><a href="/inicio" class="nav-link letraBlanca" >INICIO</a></li>
						<li class="nav-item active px-3" sec:authorize="isAuthenticated()"><a href="/misCursos" class="nav-link letraBlanca">MIS CURSOS</a></li>
						<li class="nav-item active px-3"><a href="/" class="nav-link letraBlanca">METHODICA EXAMS</a></li>
						<li class="nav-item active px-3" sec:authorize="!isAuthenticated()"><a href="/login" class="nav-link letraBlanca">INICIAR SESIÓN</a></li>
						<li class="nav-item active px-3" sec:authorize="isAuthenticated()"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link letraBlanca">SALIR</a></li>
					</div>
				</div>
				
				
			</nav>
			<div id="contenedorCursos" class="d-flex flex-row h-100 align-items-start justify-content-center p-3">
				<div class="bg-light border border-primary rounded-lg col-6 py-3 px-5">
				
				
				<form th:action="@{/filtrarCursos}" method="POST" id="buscarCursoForm" class="d-flex justify-content-end mb-3">
					<a th:href="@{/inicio}" class="btn btn-success mr-3">Listar todos</a>
					<div class="d-flex flex-row col-6 p-0">
						<input type="text" id="cursoFiltrado" name="cursoFiltrado" class="form-control mr-2" placeholder="Buscar curso">
						<button class="btn btn-primary m-0" type="submit">Buscar</button>
					</div>
				</form>
					<div class="d-flex row">
						<a th:href="@{/nuevoCurso}" class="btn btn-lg btn-success m-3" sec:authorize="hasRole('ROLE_ADMIN')">Añadir curso</a>
						<a th:href="@{/registroProfesor}" class="btn btn-lg btn-success m-3" sec:authorize="hasRole('ROLE_ADMIN')">Registrar profesor</a>
						<a th:href="@{/addAdmin}" class="btn btn-lg btn-success m-3" sec:authorize="hasRole('ROLE_ADMIN')">Añadir administrador</a>
					</div>
					<div th:each="c : ${listaCursos}" class=" border-primary card rounded mb-3 p-0">
						<div class="card-header h1 bg-warning text-dark" th:text="${c.nombre}"></div>
						<div class="card-body text-primary rounded-lg bg-white">
							<h5 class="card-title" th:text="'Profesor : ' +${c.profesor.nombre} + ' ' +${c.profesor.apellidos}"></h5>
							<p class="card-text" th:text="${c.descripcion}"></p>
							<span class="d-flex justify-content-end"><a th:href="@{'/curso/' + ${c.id}}" class="btn btn-primary mt-auto">Ir al curso</a></span>
							
						<span class="mt-2 d-flex justify-content-end">
							<a th:href="@{'/editarCurso/' + ${c.id}}" class="btn btn-outline-success" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_PROFESOR')">Editar curso</a>
							<a th:href="@{'/eliminarCurso/' + ${c.id}}" class="btn btn-outline-danger ml-3" sec:authorize="hasRole('ROLE_ADMIN')">Eliminar curso</a>
						</span>
						</div>
					</div>
				</div>
					
				
			</div>
		<form th:action="@{/logout}" method="POST" id="logoutForm"></form>
	</body>
</html>